h1, h2, h3, h4 {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin: 0;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  line-height: 1.3;
}

.button {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.word-link {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.page {
  scroll-behavior: smooth;
}

.page__body {
  background: #eee;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

@media (width >= 1024px) {
  .page__body {
    margin: 0 auto;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 20px;
}

@media (width >= 576px) {
  .container {
    padding-inline: 41px;
  }
}

@media (width >= 1024px) {
  .container {
    padding-inline: 54px;
  }
}

.max-width-container {
  max-width: 1200px;
  margin: 0 auto;
}

.page {
  --background-color: #2c2c2c;
  --switcher-background: #008aff;
  --menu-color: #2c2c2c;
  --menu-underline-color: #2060f6;
  --button-color: #2060f6;
  --001-color: #2060f6;
  --001-color-r: 32;
  --001-color-g: 96;
  --001-color-b: 246;
  --002-color: #2060f6;
  --002-color-r: 32;
  --002-color-g: 96;
  --002-color-b: 246;
  --003-color: #2060f6;
  --003-color-r: 32;
  --003-color-g: 96;
  --003-color-b: 246;
  --004-color: #2060f6;
  --004-color-r: 32;
  --004-color-g: 96;
  --004-color-b: 246;
  --apost-1: url("apost-1-black.713676d8.svg");
  --apost-2: url("apost-2-black.147d8eec.svg");
  --apost-3: url("apost-3-black.d67262ef.svg");
  --slider-img: url("slider-black-phone.6c559095.png");
  --slider-img-tabl: url("slider-black-tablet.ea8480a6.png");
  --slider-img-desk: url("slider-black-desktop.6b7a2b53.png");
}

.page--themeblue {
  --background-color: #008aff;
  --switcher-background: #2c2c2c;
  --menu-color: #008aff;
  --menu-underline-color: #ff9c8e;
  --button-color: #ff9c8e;
  --001-color: #56ccf2;
  --001-color-r: 86;
  --001-color-g: 204;
  --001-color-b: 242;
  --002-color: #fcc91d;
  --002-color-r: 252;
  --002-color-g: 201;
  --002-color-b: 29;
  --003-color: #15d850;
  --003-color-r: 21;
  --003-color-g: 216;
  --003-color-b: 80;
  --004-color: #f36363;
  --004-color-r: 243;
  --004-color-g: 99;
  --004-color-b: 99;
  --apost-1: url("apost-1-blue.b4a06bad.svg");
  --apost-2: url("apost-2-blue.30abf552.svg");
  --apost-3: url("apost-3-blue.e18138ac.svg");
  --slider-img: url("slider-blue-phone.dad44f6d.png");
  --slider-img-tabl: url("slider-blue-tablet.42262994.png");
  --slider-img-desk: url("slider-blue-desktop.9d545b8f.png");
}

.header {
  color: #fff;
  background-color: var(--background-color);
  border-bottom-right-radius: 46px;
  border-bottom-left-radius: 46px;
  transition: background-color .3s;
  position: relative;
}

@media (width >= 1024px) {
  .header {
    height: auto;
  }
}

.header__top {
  padding-inline: 20px;
}

@media (width >= 576px) {
  .header__top {
    padding-inline: 41px;
  }
}

@media (width >= 1024px) {
  .header__top {
    padding-inline: 54px;
  }
}

.header__content {
  padding-inline: 20px;
}

@media (width >= 576px) {
  .header__content {
    padding-inline: 41px;
  }
}

@media (width >= 1024px) {
  .header__content {
    padding-inline: 54px;
    width: 45%;
    padding-top: 168px;
    padding-bottom: 205px;
  }
}

.header__title {
  font-size: 52px;
}

@media (width >= 576px) {
  .header__title {
    font-size: 64px;
  }
}

.header__text {
  margin-top: 32px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.header__button {
  margin-top: 72px;
}

@media (width >= 576px) {
  .header__button {
    margin-top: 56px;
  }
}

@media (width >= 1024px) {
  .header__button {
    margin-top: 83px;
  }
}

.header__slider {
  border-radius: 46px;
  width: 100%;
  height: 390px;
  margin-top: 48px;
  transition: opacity .5s;
  overflow: hidden;
}

@media (width >= 576px) {
  .header__slider {
    margin-top: 147px;
  }
}

@media (width >= 1024px) {
  .header__slider {
    margin-top: 0;
  }
}

@media (width >= 576px) {
  .header__slider {
    height: 640px;
  }
}

@media (width >= 1024px) {
  .header__slider {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 45%;
    height: 680px;
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
  }
}

.menu {
  background-color: var(--menu-color);
  width: 100vw;
  height: 100vh;
  padding-bottom: 48px;
  transition: transform .3s;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

.about-us {
  max-width: 754px;
  margin: 0 auto;
  padding-block: 120px;
}

@media (width >= 576px) {
  .about-us {
    padding-block: 148px;
  }
}

@media (width >= 1024px) {
  .about-us {
    padding-block: 148px;
  }
}

.about-us__title {
  color: #253757;
  text-align: center;
  font-size: 32px;
}

.about-us__text {
  color: #6c788b;
  text-align: center;
  padding-top: 16px;
  font-size: 24px;
  line-height: 36px;
}

.expertise {
  background-color: #fff;
  border-radius: 46px;
  padding-block: 72px;
}

@media (width >= 576px) {
  .expertise {
    padding-block: 128px;
  }
}

@media (width >= 1024px) {
  .expertise {
    padding-block: 128px;
  }
}

.expertise__title {
  color: #253757;
  text-align: center;
  margin-bottom: 56px;
  font-size: 44px;
  line-height: 52px;
}

@media (width >= 576px) {
  .expertise__title {
    margin-bottom: 64px;
    font-size: 52px;
    line-height: 78px;
  }
}

.expertise__container {
  flex-direction: column;
  gap: 56px;
  display: flex;
}

@media (width >= 576px) {
  .expertise__container {
    gap: 72px;
  }
}

@media (width >= 1024px) {
  .expertise__container {
    flex-direction: row;
    justify-content: space-between;
    gap: 52px;
  }
}

.expertise-card {
  transition: transform .3s;
}

.expertise-card:hover {
  transform: translateY(-4%);
}

.expertise-card__img {
  margin-bottom: 32px;
  border-radius: 16px;
  width: 184px;
  height: 184px;
  margin-inline: auto;
  display: block;
}

@media (width >= 1024px) {
  .expertise-card__img {
    margin-bottom: 40px;
  }
}

.expertise-card__subtitle {
  text-align: center;
  color: #253757;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 28px;
}

.expertise-card__text {
  text-align: center;
  color: #6c788b;
  margin-inline: auto;
  font-size: 14px;
  line-height: 21px;
}

@media (width >= 576px) {
  .expertise-card__text {
    width: 50%;
  }
}

@media (width >= 1024px) {
  .expertise-card__text {
    width: 100%;
  }
}

.services {
  padding-block: 120px;
}

@media (width >= 576px) {
  .services {
    padding-block: 148px;
  }
}

@media (width >= 1024px) {
  .services {
    padding-block: 148px;
  }
}

@media (width >= 576px) {
  .services__container {
    --columns: 2;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 20px;
    display: grid;
  }
}

@media (width >= 576px) and (width >= 576px) {
  .services__container {
    --columns: 6;
    column-gap: 30px;
  }
}

@media (width >= 576px) and (width >= 1024px) {
  .services__container {
    --columns: 12;
    column-gap: 20px;
  }
}

@media (width >= 576px) {
  .services-description {
    grid-column: 1 / 4;
    margin-bottom: -120px;
  }
}

@media (width >= 1024px) {
  .services-description {
    grid-column: 1 / 6;
    margin-bottom: 0;
  }
}

.services-description__title {
  color: #c0cdd7;
  letter-spacing: 3px;
  margin-bottom: 16px;
  font-size: 13px;
}

.services-description__subtitle {
  color: #253757;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 42px;
}

.services-description__p {
  color: #6c788b;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.services-description__p--1 {
  margin-bottom: 16px;
}

.services-description__p--2 {
  margin-bottom: 48px;
}

.services-cards {
  flex-direction: column;
  gap: 24px;
  display: flex;
}

@media (width >= 576px) {
  .services-cards {
    grid-column: 1 / -1;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 1fr;
    display: grid;
  }
}

@media (width >= 1024px) {
  .services-cards {
    grid-column: 7 / -1;
  }
}

.services-card {
  background-color: #fff;
  border-radius: 16px;
  padding: 32px;
  transition: transform .3s;
}

.services-card:hover {
  transform: translateY(-5%);
}

@media (width >= 576px) {
  .services-card--1 {
    grid-area: 2 / 1 / 4 / 2;
  }

  .services-card--2 {
    grid-area: 1 / 2 / 3 / 3;
  }

  .services-card--3 {
    grid-area: 4 / 1 / -1 / 2;
  }

  .services-card--4 {
    grid-area: 3 / 2 / 5 / 3;
  }
}

.services-card__number {
  border-radius: 23px;
  width: fit-content;
  margin-bottom: 24px;
  padding: 2px 12px;
  font-size: 13px;
  line-height: 20px;
}

.services-card__number--1 {
  background-color: rgba(var(--001-color-r), var(--001-color-g), var(--001-color-b), .1);
  color: var(--001-color);
}

.services-card__number--2 {
  background-color: rgba(var(--002-color-r), var(--002-color-g), var(--002-color-b), .1);
  color: var(--002-color);
}

.services-card__number--3 {
  background-color: rgba(var(--003-color-r), var(--003-color-g), var(--003-color-b), .1);
  color: var(--003-color);
}

.services-card__number--4 {
  background-color: rgba(var(--004-color-r), var(--004-color-g), var(--004-color-b), .1);
  color: var(--004-color);
}

.services-card__list {
  color: #6c788b;
  margin: 0 0 32px;
  padding: 0;
  font-family: Open Sans, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  list-style: none;
}

.services-card__link {
  cursor: pointer;
  flex-direction: row;
  gap: 16px;
  width: fit-content;
  transition: transform .3s;
  display: flex;
}

.services-card__link:hover {
  transform: scale(1.1);
}

.services-card__button {
  cursor: pointer;
  background-image: url("arrow-right.9cbbc221.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.services-card__button--1 {
  background-color: var(--001-color);
}

.services-card__button--2 {
  background-color: var(--002-color);
}

.services-card__button--3 {
  background-color: var(--003-color);
}

.services-card__button--4 {
  background-color: var(--004-color);
}

.services-card__word {
  color: #334563;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 40px;
}

.testimonials {
  padding-bottom: 120px;
}

@media (width >= 576px) {
  .testimonials {
    padding-bottom: 148px;
  }
}

.testimonials__title {
  color: #c0cdd7;
  letter-spacing: 3px;
  margin-bottom: 16px;
  font-size: 13px;
}

.testimonials__subtitle {
  color: #253757;
  margin-bottom: 48px;
  font-size: 32px;
  line-height: 48px;
}

@media (width >= 576px) {
  .testimonials__subtitle {
    margin-bottom: 56px;
  }
}

@media (width >= 1024px) {
  .testimonials__subtitle {
    margin-bottom: 80px;
  }
}

.testimonials-cards {
  flex-direction: column;
  gap: 24px;
  display: flex;
}

@media (width >= 1024px) {
  .testimonials-cards {
    flex-direction: row;
  }
}

.testimonials-card {
  background-color: #fff;
  border-radius: 16px;
  max-width: 500px;
  margin: 0 auto;
  padding-block: 32px;
  padding-inline: 42px;
  transition: transform .3s;
}

@media (width >= 576px) {
  .testimonials-card {
    padding-block: 32px;
  }
}

@media (width >= 1024px) {
  .testimonials-card {
    padding-block: 32px;
  }
}

.testimonials-card:hover {
  transform: translateY(-4%);
}

@media (width >= 576px) {
  .testimonials-card {
    padding-inline: 90px;
  }
}

@media (width >= 1024px) {
  .testimonials-card {
    padding-inline: 42px;
  }
}

.testimonials-card__background {
  width: 210px;
  height: 250px;
  margin: 0 auto;
  position: relative;
}

.testimonials-card__rectangle {
  z-index: 0;
  border-radius: 12px;
  width: 40px;
  height: 100px;
  position: absolute;
  transform: rotate(30deg);
}

.testimonials-card__rectangle--1 {
  top: 12%;
  left: 25%;
}

.testimonials-card__rectangle--2 {
  top: 43%;
  left: 57%;
}

.testimonials-card__rectangle--color-1 {
  background-color: var(--001-color);
}

.testimonials-card__rectangle--color-2 {
  background-color: var(--002-color);
}

.testimonials-card__rectangle--color-3 {
  background-color: var(--004-color);
}

.testimonials-card__photo {
  z-index: 2;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
}

@media (width >= 1024px) {
  .testimonials-card__content-container {
    flex-direction: column;
    justify-content: space-between;
    height: 162px;
    display: flex;
  }
}

.testimonials-card__text-content {
  text-align: center;
  color: #6c788b;
  margin-bottom: 16px;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
}

@media (width >= 1024px) {
  .testimonials-card__text-content {
    margin-bottom: 0;
  }
}

.testimonials-card__apost {
  background-repeat: no-repeat;
  background-size: 21px 19px;
  width: 24px;
  height: 24px;
  margin: 0 auto 8px;
}

.testimonials-card__apost--1 {
  background-image: var(--apost-1);
}

.testimonials-card__apost--2 {
  background-image: var(--apost-2);
}

.testimonials-card__apost--3 {
  background-image: var(--apost-3);
}

.testimonials-card__bottom {
  margin: 0 auto;
}

.testimonials-card__name {
  color: #253757;
  text-align: center;
  margin-bottom: 6px;
  font-size: 13px;
  font-weight: 650;
}

.testimonials-card__subtitle {
  color: #c0cdd7;
  letter-spacing: 3px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 700;
  display: block;
}

.pre-footer {
  background-color: #fff;
}

.pre-footer__background {
  background-image: url("Shapes.e4034ff8.png");
  background-position: center;
  max-width: 1450px;
  margin: 0 auto;
}

.pre-footer__container {
  padding-block: 72px;
}

@media (width >= 576px) {
  .pre-footer__container {
    padding-block: 200px;
  }
}

@media (width >= 1024px) {
  .pre-footer__container {
    padding-block: 200px;
  }
}

.pre-footer__title {
  color: #253757;
  text-align: center;
  margin-bottom: 24px;
  font-size: 44px;
  line-height: 52px;
}

@media (width >= 576px) {
  .pre-footer__title {
    font-size: 52px;
    line-height: 62px;
  }
}

.pre-footer__text {
  color: #6c788b;
  text-align: center;
  margin-bottom: 56px;
  font-size: 22px;
  line-height: 33px;
}

@media (width >= 576px) {
  .pre-footer__text {
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 36px;
  }
}

.pre-footer__button {
  margin: 0 auto;
  display: block;
}

.pre-footer__link {
  text-decoration: none;
}

.footer {
  background-color: var(--background-color);
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  padding-top: 72px;
  padding-bottom: 80px;
}

@media (width >= 576px) {
  .footer {
    padding-top: 180px;
  }
}

.footer__top-container {
  color: #fff;
  flex-direction: column;
  gap: 80px;
  margin-bottom: 80px;
  display: flex;
}

@media (width >= 576px) {
  .footer__top-container {
    gap: 120px;
    margin-bottom: 140px;
  }
}

@media (width >= 1024px) {
  .footer__top-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    width: 100%;
    margin-bottom: 140px;
  }
}

.footer__form, .footer__contacts {
  color: #fff;
}

.footer__bottom-container {
  color: #fff;
  flex-direction: column;
  gap: 57px;
  display: flex;
}

@media (width >= 576px) {
  .footer__bottom-container {
    gap: 24px;
  }
}

@media (width >= 1024px) {
  .footer__bottom-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}

.footer__logo {
  height: 28px;
  transition: transform .3s;
}

.footer__logo:hover {
  transform: scale(1.2);
}

.theme-switcher {
  cursor: pointer;
  background-color: var(--switcher-background);
  border-radius: 1rem;
  width: 30px;
  padding: 6px;
  transition: background-color .3s;
}

.theme-switcher:after {
  content: "";
  background-color: var(--background-color);
  border-radius: 50%;
  width: 50%;
  padding-bottom: 50%;
  transition: background-color .3s, transform .3s;
  display: block;
}

.theme-switcher--themeblue:after {
  transform: translateX(100%);
}

.top-bar {
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 48px;
  display: flex;
}

@media (width >= 1024px) {
  .top-bar {
    padding-top: 48px;
  }
}

.top-bar__top-container {
  gap: 25px;
  display: flex;
}

@media (width >= 576px) {
  .top-bar__top-container {
    gap: 35px;
  }
}

.top-bar__logo {
  height: 28px;
  transition: transform .3s;
}

.top-bar__logo:hover {
  transform: scale(1.2);
}

@media (width >= 1024px) {
  .top-bar__burger {
    width: 0;
    height: 0;
    display: none;
  }
}

.top-bar__nav {
  display: none;
}

@media (width >= 1024px) {
  .top-bar__nav {
    display: block;
  }
}

.top-bar__hire-us {
  color: #fff;
  text-decoration: none;
  transition: transform .3s;
  position: relative;
}

.top-bar__hire-us:hover {
  transform: scale(1.2);
}

.top-bar__hire-us:after {
  content: "";
  background-color: var(--button-color);
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: -4px;
}

.top-bar--menu {
  justify-content: space-between;
}

.word-link {
  letter-spacing: 3px;
}

.nav--menu {
  margin-inline: auto;
  width: fit-content;
  margin-top: 15vh;
}

.nav__list {
  gap: 38px;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__list--menu {
  flex-direction: column;
}

.nav__list--footer {
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

@media (width >= 576px) {
  .nav__list--footer {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}

@media (width >= 1024px) {
  .nav__list--footer {
    min-width: 600px;
  }
}

.nav__item {
  list-style: none;
}

.nav__item--menu {
  text-align: center;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  display: block;
  position: relative;
}

.nav__link--footer {
  width: fit-content;
}

.nav__link:after {
  content: "";
  background-color: var(--button-color);
  transform-origin: 0;
  width: 100%;
  height: 2px;
  transition: transform .3s;
  display: block;
  position: absolute;
  bottom: -8px;
  transform: scale(0);
}

.nav__link:hover:after {
  transform: scale(1);
}

.nav__link--menu:after {
  background-color: var(--menu-underline-color);
}

.icon {
  cursor: pointer;
  background-size: cover;
  transition: transform .3s;
  display: block;
}

.icon:hover {
  transform: scale(1.2);
}

.icon--menu {
  background-image: url("icon-burger.8e5b5480.svg");
  width: 24px;
  height: 24px;
}

@media (width >= 1024px) {
  .icon--menu {
    display: none;
  }
}

.icon--arrow-l {
  background-color: #0000;
  background-image: url("arrow-left.28dd9907.svg");
  border: none;
  width: 32px;
  height: 32px;
}

.icon--arrow-r {
  background-color: #0000;
  background-image: url("arrow-right.58fc8567.svg");
  border: none;
  width: 32px;
  height: 32px;
}

.icon--close {
  background-image: url("icon-close.76787d5c.svg");
  width: 24px;
  height: 24px;
}

.icon--facebook {
  background-image: url("icon-facebook.46bb32f1.svg");
  width: 32px;
  height: 32px;
}

.icon--twitter {
  background-image: url("icon-twitter.c0389b2d.svg");
  width: 32px;
  height: 32px;
}

.icon--instagram {
  background-image: url("icon-instagram.02e5669b.svg");
  width: 32px;
  height: 32px;
}

.button {
  cursor: pointer;
  color: #fff;
  background-color: var(--button-color);
  border-color: var(--button-color);
  border-radius: 8px;
  width: 100%;
  height: 50px;
  transition: background-color .3s, transform .3s;
}

.button:hover {
  background-color: #0000;
}

@media (width >= 576px) {
  .button {
    width: 264px;
  }
}

.button--pre-footer:hover {
  background-color: var(--button-color);
  transform: scale(1.1);
}

.slider {
  pointer-events: none;
  opacity: 0;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: opacity .3s;
  display: none;
}

.slider--1 {
  background-image: var(--slider-img);
}

@media (width >= 576px) {
  .slider--1 {
    background-image: var(--slider-img-tabl);
  }
}

@media (width >= 1024px) {
  .slider--1 {
    background-image: var(--slider-img-desk);
  }
}

.slider--2 {
  background-image: url("slider-2-phone.469e73a2.png");
}

@media (width >= 576px) {
  .slider--2 {
    background-image: url("slider-2-tablet.519727a7.png");
  }
}

@media (width >= 1024px) {
  .slider--2 {
    background-image: url("slider-2-desktop.dc8f93c6.png");
  }
}

.slider--3 {
  background-image: url("slider-3-phone.fdfdd81e.png");
}

@media (width >= 576px) {
  .slider--3 {
    background-image: url("slider-3-tablet.f6d0e351.png");
  }
}

@media (width >= 1024px) {
  .slider--3 {
    background-image: url("slider-3-desktop.18323949.png");
  }
}

.slider.active {
  opacity: 1;
  display: block;
}

.slider-text {
  flex-direction: column;
  gap: 16px;
  padding-inline: 20px;
  display: flex;
  position: absolute;
  bottom: 24px;
}

@media (width >= 576px) {
  .slider-text {
    padding-inline: 41px;
  }
}

@media (width >= 1024px) {
  .slider-text {
    padding-inline: 54px;
  }
}

@media (width >= 576px) {
  .slider-text {
    bottom: 32px;
  }
}

@media (width >= 1024px) {
  .slider-text {
    flex-direction: row;
    bottom: 48px;
  }
}

.slider-text__controls {
  gap: 16px;
  display: flex;
}

.slider-text__text-container {
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.slider-text__title {
  letter-spacing: 3px;
  font-size: 13px;
}

.slider-text__text {
  font-size: 14px;
  font-weight: 400;
}

.form__title {
  margin-bottom: 48px;
  font-size: 32px;
  line-height: 48px;
}

@media (width >= 576px) {
  .form__title {
    margin-bottom: 56px;
  }
}

.form__input {
  color: #fff;
  background-color: #0000;
  border: none;
  border-bottom: 2px solid #fff;
  width: 100%;
  height: 41px;
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  transition: all .3s;
  display: block;
}

.form__input::placeholder {
  color: #b8bdbe;
}

@media (width >= 576px) {
  .form__input {
    width: 60%;
  }
}

@media (width >= 1024px) {
  .form__input {
    width: 100%;
  }
}

.form__input:hover {
  border-bottom-color: var(--button-color);
}

.form__input:focus {
  border-bottom-color: var(--button-color);
  outline: none;
}

.form__input--last {
  word-wrap: break-word;
  margin-bottom: 56px;
  overflow: auto;
}

@media (width >= 576px) {
  .form__input--last {
    margin-bottom: 80px;
  }
}

.contacts__title {
  margin-bottom: 48px;
  font-size: 32px;
  line-height: 48px;
}

@media (width >= 576px) {
  .contacts__title {
    margin-bottom: 56px;
  }
}

.contacts__content {
  flex-direction: column;
  gap: 40px;
  display: flex;
}

@media (width >= 576px) {
  .contacts__content {
    gap: 48px;
  }
}

.contacts__tel, .contacts__adress, .contacts__socials {
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.contacts__subtitle {
  letter-spacing: 3px;
  color: #c0cdd7;
  font-size: 13px;
  line-height: 20px;
}

.contacts__text {
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-decoration: none;
  transition: transform .3s;
}

.contacts__text:hover {
  transform: scale(1.1);
}

.contacts__icons {
  gap: 32px;
  display: flex;
}
/*# sourceMappingURL=index.a30ee15e.css.map */
