@import 'utils';
@import 'fonts';

/* #region page */

.page {
  scroll-behavior: smooth;

  &__body {
    margin: 0;
    padding: 0;
    background: $c-gray;
    min-width: 320px;

    @include on-desktop {
      margin: 0 auto;
    }
  }
}

.container {
  @include content-padding-inline;
  max-width: $body-max-width;
  margin: 0 auto;
}

.max-width-container {
  max-width: $body-max-width;
  margin: 0 auto;
}

.page {
  /* #region backcolors*/

  --background-color: #2C2C2C;
  --switcher-background: #008AFF;
  --menu-color: #008AFF;
  --menu-underline-color: #FF9C8E;
  --button-color: #2060F6;

  /* #endregion */

  /* #region buttons*/

  --001-color: #2060F6;
  --001-color-r: 32;
  --001-color-g: 96;
  --001-color-b: 246;
  --002-color: #2060F6;
  --002-color-r: 32;
  --002-color-g: 96;
  --002-color-b: 246;
  --003-color: #2060F6;
  --003-color-r: 32;
  --003-color-g: 96;
  --003-color-b: 246;
  --004-color: #2060F6;
  --004-color-r: 32;
  --004-color-g: 96;
  --004-color-b: 246;

  /* #endregion */

  --apost-1: url(/src/images/testimonials/apost-1-black.svg);
  --apost-2: url(/src/images/testimonials/apost-2-black.svg);
  --apost-3: url(/src/images/testimonials/apost-3-black.svg);

  --slider-img: url(/src/images/slider/slider-black-phone.png);
  --slider-img-tabl: url(/src/images/slider/slider-black-tablet.png);
  --slider-img-desk: url(/src/images/slider/slider-black-desktop.png);

  &--themeblue {
    /* #region backcolors*/

    --background-color: #008AFF;
    --switcher-background: #2C2C2C;
    --menu-color: #2C2C2C;
    --menu-underline-color: #2060F6;
    --button-color: #FF9C8E;

    /* #endregion */

    /* #region buttons*/

    --001-color: #56CCF2;
    --001-color-r: 86;
    --001-color-g: 204;
    --001-color-b: 242;
    --002-color: #FCC91D;
    --002-color-r: 252;
    --002-color-g: 201;
    --002-color-b: 29;
    --003-color: #15D850;
    --003-color-r: 21;
    --003-color-g: 216;
    --003-color-b: 80;
    --004-color: #F36363;
    --004-color-r: 243;
    --004-color-g: 99;
    --004-color-b: 99;

    /* #endregion */

    --apost-1: url(/src/images/testimonials/apost-1-blue.svg);
    --apost-2: url(/src/images/testimonials/apost-2-blue.svg);
    --apost-3: url(/src/images/testimonials/apost-3-blue.svg);

    --slider-img: url(/src/images/slider/slider-blue-phone.png);
    --slider-img-tabl: url(/src/images/slider/slider-blue-tablet.png);
    --slider-img-desk: url(/src/images/slider/slider-blue-desktop.png);
  }
}

/* #endregion */
@import 'big-blocks/header';
@import 'big-blocks/menu';
@import 'big-blocks/about-us';
@import 'big-blocks/expertise';
@import 'big-blocks/services';
@import 'big-blocks/testimonials';
@import 'big-blocks/pre-footer';
@import 'big-blocks/footer';
@import 'theme-switcher';
@import 'top-bar';
@import 'nav';
@import 'icon';
@import 'button';
@import 'slider';
@import 'form';
@import 'contacts';
