$c-gray: #eee;
$main-txt-col: #253757;
$gray-txt-col: #6C788B;
$white-txt-col: #fff;
$light-txt-col: #C0CDD7;
$button-background: #82a8ef;

$animDuration: 300ms;
$tablet-width: 576px;
$desktop-width: 1024px;
$body-max-width: 1200px;

$content-padding-phone: 20px;
$content-padding-tablet: 41px;
$content-padding-desktop: 54px;

/* #region themes */

  // $background-blacktheme: #2C2C2C;
  // $blue-blacktheme: #2060F6;

  // $background-bluetheme: #008AFF;
  // $lightblue-bluetheme: #56CCF2;
  // $yellow-bluetheme: #FCC91D;
  // $green-bluetheme: #15D850;
  // $red-bluetheme: #F36363;

 /* #endregion */
