.header {
  @include page-grid;

  color: $white-txt-col;
  background-color: var(--background-color);
  transition: background-color $animDuration;

  &__top {
    grid-column: 1 / -1;
  }

  &__content {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 1 / 5;
      padding-top: 168px;
      padding-bottom: 205px;
    }
  }

  &__title {
    font-size: 52px;

    @include on-tablet {
      font-size: 64px;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    margin-top: 32px;
    line-height: 27px;
  }

  &__button {
    @include section-margin-top(72px, 56px, 83px);
  }

  &__slider {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 8 / -1;
    }
  }
}


